.workModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;        
    

    .modal {
        position: relative;
        height: 100%;

        .exitBtn {
            position: absolute;
            top: 20px;
            right: 20px;
            color: #1a1b1f;
            z-index: 9999;
            cursor: pointer;
            .exitIcon {
                font-size: 40px;
            }
        }        
        .prevBtn {
            position: absolute;
            left: 10px;
            top: 50%;
            padding: 15px;            
            transform: translateY(-50%);
            cursor: pointer;             
            color: #1a1b1f;
            z-index: 9999;            
        }
        .nextBtn {
            position: absolute;
            right: 10px;
            top: 50%;    
            padding: 15px;        
            transform: translateY(-50%);
            cursor: pointer;      
            color: #1a1b1f;      
            z-index: 9999;
        }
        .arrow {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 10px;
            color: #000;
            pointer-events: none;
            
            &.left {
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
            }
            &.right {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }
        .workTitle {
            text-align: center;
            padding-top: 25px;
            h2 {
                color: #1a1b1f;
            }
        }
        .workList {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            transition: all .6s ease;

            li {          
                position: absolute;
                top: 50%;
                left: calc(50% - 450px);
                border: 1px solid #eee;
                .imgWrapper {
                    width: 900px;
                    
                    img {
                        width: 100%;
                    }
                }                
            }            
        }
        .orderAndPart {
            position: absolute;
            bottom: 25px;
            text-align: center;
            width: 100%;                        
            transition: all 2s ease;         
            p {
                color: #1a1b1f;
            }
        }
        
    }
}