$small: 600px;
$medium: 900px;

.workModal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;        
    

    .modal {
        position: relative;
        height: 100%;

        .exitBtn {
            position: absolute;
            top: 20px;
            right: 20px;
            color: #1a1b1f;
            z-index: 9999;
            cursor: pointer;
            .exitIcon {
                font-size: 40px;
            }
        }        
        .prevBtn {
            position: absolute;
            left: 10px;
            top: 50%;
            padding: 15px;            
            transform: translateY(-50%);
            cursor: pointer;             
            color: #1a1b1f;
            z-index: 9999;            
        }
        .nextBtn {
            position: absolute;
            right: 10px;
            top: 50%;    
            padding: 15px;        
            transform: translateY(-50%);
            cursor: pointer;      
            color: #1a1b1f;      
            z-index: 9999;
        }
        .arrow {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 10px;
            color: #000;
            pointer-events: none;
            
            &.left {
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
            }
            &.right {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
        }
        .workTitle {
            text-align: center;
            padding-top: 25px;
            h2 {
                color: #1a1b1f;
            }
        }
        .workList {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            transition: all .6s ease;

            li {          
                position: absolute;
                top: 50%;
                left: calc(50% - 375px);
                border: 1px solid #eee;
                .imgWrapper {
                    width: 750px;
                    
                    img {
                        width: 100%;
                    }
                }                
            }            
        }
        .orderAndPart {
            position: absolute;
            bottom: 25px;
            text-align: center;
            width: 100%;                        
            p {
                color: #1a1b1f;
            }
        }
        
    }
}

@media screen and (max-width: $small) {
    .workModal {
        .modal {
            .exitBtn {
                top: 25px;
                right: 15px;
                .exitIcon {
                    font-size: 30px;
                }
            }        
            .prevBtn {
                left: 0px;
                padding: 15px;              
            }
            .nextBtn {
                right: 0px;
                padding: 15px;        
            }
            .arrow {
                padding: 7px;
            }
            .workTitle {
                text-align: center;
                padding-top: 25px;          
                h2 {
                    font-size: 18px;
                }      
            }
            .workList {                
                li {                              
                    left: calc(50% - 150px);
                    .imgWrapper {
                        max-width: 300px;
                        
                        img {
                            width: 100%;
                        }
                    }                
                }            
            }
            .orderAndPart {
                bottom: 25px;
                p {
                    font-size: 14px;
                }
            }
            
        }
    }
}

@media screen and (max-width: $medium) and (max-height: 450px) {
    .workModal {
        .modal {
            .exitBtn {
                top: 15px;
                right: 15px;
                .exitIcon {
                    font-size: 28px;
                }
            }        
            .prevBtn {
                left: 10px;
                padding: 15px;              
            }
            .nextBtn {
                right: 10px;
                padding: 15px;        
            }
            .arrow {
                padding: 7px;
            }
            .workTitle {
                text-align: center;
                padding-top: 15px;          
                h2 {
                    font-size: 18px;
                }      
            }
            .workList {                
                li {                              
                    left: calc(50% - 160px);
                    .imgWrapper {
                        max-width: 320px;
                        
                        img {
                            width: 100%;
                        }
                    }                
                }            
            }
            .orderAndPart {
                bottom: 15px;
                p {
                    font-size: 12px;
                }
            }
            
        }
    }
}