$small: 600px;
$medium: 900px;
$large: 1300px;

.about {    
    text-align: center;    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;    
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    
    .myNameIs {
        font-weight: 300;
        color: #999;
        font-size: 28px;
    }
    .mainName {
        font-size: 120px;
        letter-spacing: 5px;
        font-weight: 200;
        line-height: 1;
        margin-bottom: 25px;
    }

    .profileWrapper {
        .avatarImg {
            border-radius: 50%;
            border: 1px solid #333;
            background-color: #333;
            z-index: 999;
        }
        .positionTitle {
            font-weight: 300;
        }
        .skills {
            margin-top: 5px;
            color: #999;
            max-width: 500px;
        }
        .aboutMe {
            color: #999;
            max-width: 500px;
            margin: 25px auto 0;        
            font-weight: 300;    
        }
    }

    .viewMore {
        position: absolute;
        bottom: 50px;                
        background: none;
        border: none;
        font-size: 38px;
        font-weight: 200;

        &:hover {
            cursor: pointer;
        }
        
        &::before {
            content:" ";
            position: absolute;
            bottom: 0;
            left: -6px;
            width: 60px;
            height: 2px;
            background-color: #dbe8d4;
            transform: rotate(-36deg);            
        }
        
        &::after {
            content:" ";
            position: absolute;
            bottom: 0;
            right: -6px;
            width: 60px;
            height: 2px;
            background-color: #dbe8d4;
            transform: rotate(36deg);
        }
    }    
}

@media screen and (max-width: $large) {
    .about {
        height: auto;
        padding-top: 150px;   
    }    
}

@media screen and (max-width: $medium) {
    .about {    
        height: auto;
        padding-top: 150px;   
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;    
        position: relative;
        max-width: 1300px;
        margin: 0 auto;
        // padding: 150px 15px 0;
        .myNameIs {
            font-size: 24px;
        }   
        .mainName {
            font-size: 80px;
            letter-spacing: 3px;
        }
        .profileWrapper {
            .avatarImg {
                width: 200px;
                height: 200px;
            }
            .positionTitle {
                font-size: 28px;
            }
            .skills {
                font-size: 18px;
            }
            .aboutMe {
                font-size: 18px;
            }
        }
    }

}
@media screen and (max-width: 1300px) and (max-height: $medium) {
    .about {    
        height: auto;
        padding: 125px 15px 0;
        
        .myNameIs {
            font-size: 24px;
        }   
        .mainName {
            font-size: 80px;
            letter-spacing: 3px;
        }
        .profileWrapper {
            .avatarImg {
                width: 150px;
                height: 150px;
            }
            .positionTitle {
                font-size: 24px;
            }
            .skills {
                font-size: 16px;
            }
            .aboutMe {
                font-size: 16px;
            }
        }
    }    
}

@media screen and (max-width: $medium) and (max-height: 450px) {
    .about {    
        height: auto;
        padding: 100px 15px 0;
        .myNameIs {
            font-size: 20px;
        }   
        .mainName {
            font-size: 48px;
            letter-spacing: 3px;
        }
        .profileWrapper {
            .avatarImg {
                width: 150px;
                height: 150px;
            }
            .positionTitle {
                font-size: 20px;
            }
            .skills {
                font-size: 14px;
            }
            .aboutMe {
                font-size: 14px;
            }
        }
    }    
}

@media screen and (max-width: $small) {
    .about {    
        height: auto;
        padding: 100px 15px 0;
        .myNameIs {
            font-size: 20px;
        }   
        .mainName {
            font-size: 48px;
            letter-spacing: 3px;
        }
        .profileWrapper {
            .avatarImg {
                width: 150px;
                height: 150px;
            }
            .positionTitle {
                font-size: 20px;
            }
            .skills {
                font-size: 14px;
            }
            .aboutMe {
                font-size: 14px;
            }
        }
    }
}

