.header {
    padding: 10px 50px;    
    position: fixed;
    top: 0;
    width: calc(100vw - 100px);
    z-index: 999;
    transition: all 0.4s ease;

    .headerContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1300px;
        margin: 0 auto;
        
        .logo-container {
            a {
                text-decoration: none;
                .logo {
                    font-size: 30px;                    
                }
            }            
        }
    
        .nav-ul {
            display: flex;
            align-items: center;


    
            .nav-li {
                display: flex;
                align-items: center;
                margin-right: 25px;
                font-size: 14px;
                list-style: none;
                cursor: pointer;

                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;

                    .linkIcons {
                        font-size: 25px;
                        &.aboutIcon {
                            color: #fff;
                        }
                        &.workIcon {
                            color: #6cc644;
                        }
                        &.email {
                            color: #c9510c;
                        }
                        &.linkedIn {
                            color: #0077b5;
                        }
                        &.gitHub {
                            color: #6e5494;
                        }
                    }
                }

                span {
                    margin-left: 3px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    
}